.main-modal {
  font-family: sans-serif;
  text-align: center;
}

/* .msg {
  padding: 0 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  height: 84px;
  display: flex;
  align-items: center;



  color: #666666;
} */

.mymodal {
  /* position: fixed; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 24px 0px; */

  position: absolute;
  /* width: 80px;
  height: 80px; */

  /* background: transparent;
  box-shadow: 0px 9px 46px 8px rgba(0, 0, 0, 0.12),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 11px 15px -7px rgba(56, 71, 109, 0.2);
  border-radius: 6.72px; */
}

.myoverlay {
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: rgba(0, 0, 0, 0.2);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
